body {
  font-family: Inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  margin: 0;
  padding: 2rem 4rem;
}

h1 {
  font-size: 2rem;
}

p {
  color: rgb(45, 45, 45);
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  display: inline;
  margin-right: 1rem;
}

section {
  margin-bottom: 2rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  color: rgb(64, 64, 200);
}

.link:hover {
  opacity: 0.9;
  background-color: rgb(240, 240, 250);
}

.link > img {
  width: 1rem;
}

.row {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  max-width: 60%;
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.links-wrapper {
  display: flex;
}
